*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}

/* estilos generales */
body{
    width: 100%;
    background-color: rgb(255, 255, 255);
    font-family: 'Rowdies', cursive;
    
}

/* estilos del menu */
.nav-link{
    text-decoration: none;
    color: rgb(71, 14, 78);
}

.header1{
    display: flex;
    flex-direction: row;
    min-height: 120px;
    background-color: rgb(255, 255, 255);
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
/* logo de la empreza */
.logo{
    display: flex;
    align-items: center;
}

.logo img{
    height: 140px;
    margin-right: 10px;
}

.nav1, .nav-link{
    font-size: 13px;
    font-weight: 600;
    padding-right: 5px;
}

.nav1, .nav-link:hover{
    color: rgb(185, 80, 206);
}

/* cuadro de busqueda */
.buscar {
    padding-top: 10px;
    width: 100%;
    position: relative;
    display: flex;
  }
  
  .BotonColor {
    width: 250px;
    border: 2px solid #7a9bdd;
    border-right: none;
    padding: 1px;
    min-height: 30px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
  }
  
  .BotonColor:focus{
    color: #546da3;
  }
  
  .botonBuscar {
    width: 40px;
    height: 31px;
    border: 1px solid #5786e6;
    background: #5d8ef0;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
  }
  

  .wrap{
    position: absolute;
    padding-bottom: 90px;
    padding-left: 350px;
    transform: translate(-50%, -50%);
  }
  
  nav ul{
    background-color: #a2caff;
    display: flex;
    justify-content: right;
    list-style: none;
    padding-top: 5px;
    height: 50px;
    gap: 5px;
}

/* tamaño de redes sociales */
.redes img{
   height: 38px;
}

/* ajustes del carousel */
.carousel{
    display: block;
    
    padding-left: 10px;
    padding-right: 10px;
}

/* estilos del contenido principal */
main{
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

/* Estilo del titulo */
h1{
    background-color: #3670a0;
    display: flex;
    justify-content: center;
    font-family: 'Teko', sans-serif;
    font-weight: 600;
    padding: 20px 10px;
    border: rgb(160, 212, 255) 5px double;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    color: #ffffff;
}

p{
    font-size: 24px;
    font-family: 'Roboto Slab', serif;
}

/* banner */
.imagen{
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: auto;;
}


/* estilos del main */
main div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* cuadro de texto */
.cuadro{
font-family: sans-serif;
font-size: 18px;
font-weight: 400;
color: #ffffff;
background: #889ccf;
margin: 0 0 25px;
overflow: hidden;
padding: 20px;
}

/* fin de Inicio */
.cuadro2{
display: flex;
display: block;
flex-direction: row;
justify-content: space-between;
background-color: rgb(255, 255, 255);
align-items: center;
padding: 20px;
font-family: sans-serif;
font-size: 18px;
font-weight: 400;
color: #ffffff;
background: #3a4b77;
margin: 0 0 25px;
overflow: hidden;
padding: 20px;
}


/* ///Pag Modelos// */


/* portada con titulo */
.fondo-con-imagen {
    background-image: url(/img/foto.jpg);
    background-size: cover;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .fondo-con-imagen h2{
    color: #dde4fa;
    display: flex;
    justify-content: center;
    border: 2px solid rgb(233, 213, 213);
    margin:170px 10px auto;
    text-align: center;
  }

  
  /* sistema de grillas */
  .contenedor {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-template-rows: auto auto;
    grid-gap: 10px;
    background-color: #c9d7f3;
  }
  .contenedor img{
    height: 100px;
  }
  
  .grid-item {
    width: 100%;
  }


  /* ///Pag Trajes */


  /* portada con titulo */
.portada img{
    display: flex;
    flex-direction: row;
    width: 100%;
}
  

/* Imagen de traje + info */
.traje{
    display: flex;
    width: 100%;
    
    
}
.traje img{
    display: flex;
    width: 400px;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 750px;
}
.traje div{
    padding-top: 10px;
    width: 50%;
    margin: 0 auto;
    text-align: right;
    height: 90%;
    line-height: 1.4;
    
}

.contenedor2{
    background-image: url(/img/traje6.jpg);
    background-size: cover;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

/* cuadro contenido */
.cuadro3{
display: flex;
display: block;
flex-direction: row;
justify-content: space-between;
background-color: rgb(255, 255, 255);
align-items: center;
padding: 20px;
font-family: sans-serif;
font-size: 18px;
font-weight: 400;
color: #ffffff;
background: #502747;
margin: 0 0 25px;
overflow: hidden;
padding: 20px;
line-height: 1.3;
margin-bottom: 200px;
}
.cuadro3 h2{
    text-align: center;
}

.cuadro3 p{
    text-align: center;
}



/* imagenes superpuestas + info */
.contendor3{
    display: block;
    display: flex;
    margin-left: 30px;
    line-height: 30px;
    text-align: center;
}

.contendor3 .info{
    width: 100%;
    height: 100%;
    background-color: #eaeaf3;
    margin-left: 110px;
    margin-right: 50px;
    padding-top: 50px;
    padding-bottom: 130px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 90px;
    color: #394152;
    
}

.contendor3 h2{
    background-color: rgb(40, 32, 53);
    color: #c9d7f3;
}

.imagen-superpuesta img{
   height: 260px;
   position: absolute;
}

.imagen-superpuesta2 img{
    height: 300px;
    margin-top: 170px;
    margin-left: 80px;
    position: relative;
}

.info2{
    background-color: #394152;
    margin-bottom: 100px;
    margin-top: 40px;
}


/* Pag Salon de la fama */

/* info principal */
.info3{
    text-align: center;
    padding-top: 20px;
    margin-left: 80px;
    margin-right: 80px;
    font-family: 'Sofia Sans Extra Condensed', sans-serif;
}


/* famosas + info */
.famosas{
    background-color: #ddd7bb;
    font-family: 'Sofia Sans Extra Condensed', sans-serif;
    display: block;
    display: flex;
    margin-left: 30px;
    line-height: 30px;
    font-family: 'Sofia Sans Extra Condensed', sans-serif;
}


.info4{
    width: 100%;
    height: 100%;
    margin-left: 50px;
    margin-right: 110px;
    margin-top: 40px;
    color: #394152;
}
.info4 h2{
    color: darkcyan;
}

.famosas img{
    width: 30%; 
}


.contenedor4{
    display: block;
    display: flex;
}

.famosas2 img{
    display: block;
    display: flex;
    float: right;
    width: 30%;
    height: 100%;
}

.info5{
    padding-top: 90px;
    margin-bottom: 220px;
    padding-right: 430px;
    text-align: right;
}

.info5 h2{
    color: #502747;
}


/* estilos de cards */
.contenedor6{
    width: 100%;
    display: flex;
    font-family: 'Anton', sans-serif;
    line-height: 23px;
    flex-direction: row;
    gap: 35px;
    margin-left: 25px;
    padding-top: 110px;
    padding-bottom: 30px;
}




  /* mq moblie */
@media (max-width:480px){
    header{
        flex-direction: column;
    }

    .nav1{
        padding: 5px 0px;
    }

    .BotonColor{
        width: 180px;
    }

    .botonBuscar{
        width: 30px;
    }

    .wrap{
        padding-bottom: 90px;
        padding-left: 240px;
    }
    
    .none{
        display: none;
    }

    .cuadro {
        display: none;
    }

    main{
        grid-template-columns:repeat(2,1fr) ;
        grid-template-rows: repeat(2,50%);

        
    }
    .imagen{
        background-color: #dde4fa;
    }

    .modelo:hover{
        transform: scale(0.9);
        opacity: 90%;
        transition: 0.8s;
    }

    .modelo2:hover{
        transform: scale(0.9);
        opacity: 90%;
        transition: 0.8s;
    }

    .modelo3:hover{
        transform: scale(0.9);
        opacity: 90%;
        transition: 0.8s;
    }

    .fondo-con-imagen{
        height: 20vh;
    }

    .fondo-con-imagen h2{
    
        color: #dde4fa;
        display: flex;
        justify-content: center;
        border: 2px solid rgb(233, 213, 213);
        margin:20px 10px auto;
        text-align: center;
        line-height: 20px;
       
      }
    

    .text{
        display: flex;
        justify-content: center;
    }

     
    .foto{
        display: flex;
        width: 100%;
        
        
    }
    .foto img{
        display: flex;
        width: 200px;
        margin-top: 30px;
        margin-bottom: 30px;
        height: 350px;
    }
    .foto div{
        padding-top: 10px;
        width: 50%;
        margin: 0 auto;
        text-align: right;
        height: 90%;
        line-height: 1.0;
        
    }

    


}

/* mq desktop */
 @media screen and (min-width:1024px){
    .botonBuscar{
        width: 70px;
        min-width: auto;
    }

    .redes img{
        height: 48px;
        min-height: auto;
     }

     .logo img{
        height: 240px;
        
    }
    
    .nav1, .nav-link{
        font-size: 13px;
        font-weight: 600;
        padding-right: 5px;
    }
    
    
    nav ul{
        margin-bottom: 10px;
        height: 60px;
        min-height: 60%;
    }

   .carousel{
    margin-top: 90px;
    margin-bottom: 90px;
    bottom: 30px;
   }

.modelo:hover{
    transform: scale(0.9);
    opacity: 40%;
    transition: 0.9s;
    transition-delay: 0.2s;
}

.modelo2:hover{
    transform: scale(0.9);
    opacity: 40%;
    transition: 0.9s;
    transition-delay: 0.2s;
    
    

}

.accesorio:hover{
    transform: scale(0.9);
    opacity: 40%;
    transition: 0.9s;
    transition-delay: 0.2s;
}

.cuadro2{
    display: flex;
}

main{
    grid-template-columns:repeat(2,1fr) ;
    grid-template-rows: repeat(2,50%);

    
}


.background-image{
    height: 52vh;
}

.background-image h2{
    display: flex;
    justify-content: center;
    margin: 170px 0px auto;
    text-align: center;
    margin-left: 120px;
    margin-right: 120px;
}
.text{
    display: flex;
    justify-content: center;
}

 
.foto{
    display: flex;
    width: 100%;
    
    
}
.foto img{
    display: flex;
    width: 400px;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 750px;
}
.foto div{
    padding-top: 10px;
    width: 50%;
    margin: 0 auto;
    text-align: right;
    height: 90%;
    line-height: 1.4;
    
}


 }